# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
build/
dist/
*.egg-info/